/*
styles provided by Michael

Blue: #004680
Yellow: #ffcb08
Google Font: Lato Regular, Semi-bold & bold
body copy font color: #2f2f2f
*/

body{
  font-family: 'Lato', sans-serif;
  color: #2f2f2f;
}


input[type="text"]:focus{
  border: 1px solid #004680;
}

p{


  font-size: 1.2em;
  letter-spacing: .02em;
  line-height: 1.4em;

}

h1{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: .02em;
  color: #004680;
  font-size: 2em;
}

b{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

header{
  margin-bottom: 24px;
}

main{
  padding-right: 54px;
}


ul{
  font-size: 1.2em;
  letter-spacing: .02em;
  line-height: 1.4em;
  list-style-type: bullet;
  padding-left: 16px;
  margin-bottom: 0px;
}
li{
  margin-bottom: 2px;
}
@media(max-width: 754px){
  main{
    padding-right: 0px;
  }
  p{
    font-size: 16px;
  }
  input[type="text"]{
    font-size: 16px;
  }
  ul{
    font-size: 16px;
  }
}

#product-wrapper{
  text-align: center;
}
#product-image{
  max-width: 100%;
  margin-bottom: 32px;
}


#list-1{
  display: inline-block;
}
#list-2{
  display: inline-block;
  /*margin-left: 40px;*/
  float: right;
}

#bullet-points-vertical{
  display: none;
}
#bullet-points-horizontal{
  display: block;
}
@media(max-width: 813px){
  #bullet-points-vertical{
    display: block;
  }
  #bullet-points-horizontal{
    display: none;
  }
}
@media(max-width: 754px){
  #bullet-points-vertical{
    display: none;
  }
  #bullet-points-horizontal{
    display: block;
  }
}
@media(max-width: 495px){
  #bullet-points-vertical{
    display: block;
  }
  #bullet-points-horizontal{
    display: none;
  }
}

#map{
  background-image: url("../images/sf-map-bg-fade.jpg");
  background-size: 244px 600px;
  min-height: 580px;
  background-repeat: no-repeat;
  border: 1px solid #D6D6D6;
  margin-bottom: 24px;
  text-align: center;
}
#mobile-search{
  display: none;
}
#mobile-search ul{
  list-style-type: none;
  padding-left: 0px;
}

@media(max-width: 754px){
  #map{
    display: none;
  }
  #mobile-search{
    display: block;
  }
  input{
    width: 600px;
    max-width: 100%;
  }
  h1{
    text-align: center;
  }
}

#map h1{
  text-align: center;
  margin-top: 8px;
  margin-bottom: 6px;
}

#map ul{
  list-style-type: none;
  text-align: center;
  /*width: 120px;*/
}
#map li{
  /*width: 240px;*/
  /*margin-left: 50%;
  margin-right: 50%;*/
  text-align: center;
}


#store-search{
  margin-top: 22px;
  text-align: left;
}

.store{
  background-color: white;
  border: 1px solid #D6D6D6;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 8px;

  padding-left: 4px;
  text-align: left;

}

#hero-full{
  width: 1650px;
  max-width: 100%;
}


#img-sidebar{

}
#sf-map-fade{
  max-width: 100%;
  border: 1px solid #D6D6D6;
  border-radius: 2px;
}

footer{
  background-color: #004680;
  text-align: center;
}
footer img{
  margin-top: 44px;
  margin-bottom: 120px;
  max-width: 100%;
  width: 320px;
}
