/*
styles provided by Michael

Blue: #004680
Yellow: #ffcb08
Google Font: Lato Regular, Semi-bold & bold
body copy font color: #2f2f2f
*/

body{
  font-family: 'Lato', sans-serif;
  color: #2f2f2f;
}

p{


  font-size: 1.2em;
  letter-spacing: .02em;
  line-height: 1.4em;

}

h1{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: .02em;
  color: #004680;
  font-size: 2em;
}

b{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

header{
  margin-bottom: 24px;
}

main{
  padding-right: 54px;
}

ul{
  font-size: 1.2em;
  letter-spacing: .02em;
  line-height: 1.4em;
  list-style-type: bullet;
  padding-left: 16px;
}
li{

}

#list-1{
  display: inline-block;
}
#list-2{
  display: inline-block;
  /*margin-left: 40px;*/
  float: right;
}

#store-search{
  margin-top: 22px;
  text-align: left;
}

.store{

}

#hero-full{
  width: 1650px;
  max-width: 100%;
}


#img-sidebar{

}
#sf-map-fade{
  max-width: 100%;
  border: 1px solid #D6D6D6;
  border-radius: 2px;
}
